.viewmovie_container
{
 height:100% ;
 width: 100%;
background-image: var( --mainbackground);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 1rem 2rem;

}

.viewmovie_videotag_box{
   
    height:80vh ;
    width: 80vw;
    background-color: rgb(231, 231, 231) ;

}

.viewmovie_videodetail_box{
    padding: 2rem 2rem;
    margin-top: 30px;
    height: auto;
    width: 80vw;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem
}

.viewmovie_left{
    height: 100%;
    width: 30%;
    background-color:  whitesmoke ;
    border-radius: 20px;
}
.viewmovie_middle{
    height: 100%;
    width: 50%;
    /* background-color:  whitesmoke ; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    font-family: var(--mainfont);
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 20px;
    text-align: justify;


}

.viewmovie_right{

    height: 100%;
    width: 30%;
    /* background-color: whitesmoke ; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    font-family: cursive;
    padding-left: 20px;
    border-radius: 20px;



}